@font-face {
    font-family: WindSong;
    src: url('../../font/WindSong-Medium.ttf');
}

.feature-hero {
    margin: 60px 0px;
}

.feature-hero .container iframe {
    width: 100%;
    height: 600px;
    border-radius: 16px;
}

.virgine-vision {
    background: var(--primary-dark-blue, #1B2D4F);
    padding: 120px 0px;
}

.virgine-vision .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.virgine-vision .vision-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    align-items: center;
}

.virgine-vision .vision-label .label {
    color: var(--neutral-white-400, #C1CBD9);
    text-align: center;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 100% */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.virgine-vision h3 {
    color: #B4C7E2;
    text-align: center;
}

.virgine-priorities {
    padding: 120px 0px;
    background: #EFF4F9;
}

.virgine-priorities .container {
    border-radius: 20px;
    background: #F7F7F8;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 58px 78px;
}

.virgine-priorities .container h2 {
    color: var(--primary-dark-blue, #1B2D4F);
    text-align: center;
    max-width: 749px;
    margin-left: auto;
    margin-right: auto;
}

.virgine-priorities .priorities-list {
    display: flex;
    gap: 37px;
    flex-wrap: wrap;
}

.virgine-priorities .priorities-list .priority-item {
    flex-basis: calc(50% - 18.5px);
    padding: 24px;
    border-radius: 16px;
    border: 1px solid var(--neutral-white-200, #E4E6E9);
    background: var(--neutral-white, #FFF);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.virgine-priorities .priorities-list .priority-item h5 {
    color: var(--primary-dark-blue, #1B2D4F);
}

.virgine-priorities .priorities-list .priority-item p.priorities-desc {
    margin-top: 4px !important;
    margin-bottom: 20px !important;
    color: var(--neutral-black-700, #3A455A);
}

.virgine-priorities .priorities-list .priority-item button {
    border-radius: 4px;
    background: var(--secondary-blue, #004F9A);
    box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.15) inset;
    padding: 10px 15px;
    color: var(--neutral-white, #FFF);
}

.virgine-about {
    padding: 120px 0px;
    margin-bottom: 120px;
    background: var(--primary-dark-blue, #1B2D4F);
}

.virgine-about .container {
    display: flex;
    gap: 24px;
}

.virgine-about .container .virgine-img {
    flex-basis: 486px;
}

.virgine-about .container .virgine-img img {
    width: 100%;
}

.virgine-about .container .about-content {
    padding: 35px;
    border-radius: 16px;
    flex-basis: 690px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #374E78;
    background: linear-gradient(39deg, rgba(125, 161, 228, 0.20) 0%, rgba(27, 45, 79, 0.00) 41.97%), linear-gradient(210deg, rgba(125, 161, 228, 0.20) 0%, rgba(27, 45, 79, 0.00) 36.79%), #1F3357;
}

.virgine-about .container .about-content .about-label {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
}

.virgine-about .container .about-content .about-label .h-line {
    height: 1px;
    background-color: #374E78;
    display: inline-block;
}

.virgine-about .container .about-content .about-label .h-line:first-child {
    flex-basis: 47px;
    width: 47px;
}

.virgine-about .container .about-content .about-label .h-line:last-child {
    flex-grow: 1;
    width: 100%;
}

 .about-label .name {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 30px;
    background: #233962;
    color: #E4E6E9;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 133.333% */
    text-transform: uppercase;
    flex-basis: 70px;
}

.virgine-about .container .about-content .about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.virgine-about .container .about-content .about-text h3 {
    color: #C8CFD9;
}

.virgine-about .container .about-content .about-text p {
    color: var(--neutral-white-400, #C1CBD9);
}
.about-content .abount-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.about-content .abount-footer .virgine-sign{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-content .abount-footer .virgine-sign .sign{
    color: #C1CBD9;
font-family: WindSong;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 80% */
}
.about-content .abount-footer .virgine-sign .name{
    color: #C1CBD9;
font-family: SF Pro Display;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
text-transform: uppercase;
}
.about-content .abount-footer .social-media-icons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.about-content .abount-footer .social-media-icons i{
    color: rgba(193, 203, 217, 1);
    font-size: 24px;
}
.extra-works{
    margin-bottom: 120px;
}
.extra-works .container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.extra-works .container .section-img img{
    width: 100%;
}
.extra-works .container .other-wprk-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.extra-works .container .other-wprk-items .item{
    display: inline-flex;
    align-items: flex-end;
    padding: 70px 24px 24px 24px;
    border-right: 1px solid #E4E6E9;
    border-bottom: 1px solid #E4E6E9;
}
.extra-works .container .other-wprk-items .item:first-child{
    border-left: 1px solid #E4E6E9;
}
.extra-works .container .other-wprk-items .item:last-child{
    border-right: 1px solid #E4E6E9;
}
.latest-post{
    background: var(--primary-dark-blue, #1B2D4F);
    padding: 60px 0px;
}
.latest-post .container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}
.latest-post .container h2{
    color: #C8CFD9;
}